@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
<<<<<<< Updated upstream
    --blue-dark: rgb(0, 79, 86);
    --blue-100: rgb(0, 110, 118);
    --blue-80: rgba(0, 110, 118, 0.8);
    --blue-60: rgba(0, 110, 118, 0.6);
    --red-100: rgb(213, 0, 0);
    --orange-100: rgb(240, 90, 35);
    --yellow-100: rgb(252, 238, 33);
=======
    --blue-dark: #004f56;
    --blue-100: #006e76;
    --blue-80: #308A90;
    --blue-60: #66A8AD;
    --red-100: #d50000;
    --orange-100: #f05a23;
    --yellow-100: #fcee21;
}

*,*::after,*::before, a{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--blue-100);
}

.tutorial,
.supporter {
    display: flex; 
    justify-content: center;
>>>>>>> Stashed changes
}